* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #687980;
  /* background: radial-gradient(
    circle,
    rgba(105, 209, 153, 1) 0%,
    rgba(238, 230, 135, 1) 95%
  ); */
  height: 100vh;
}

.glass-panel {
  color: #fff;
  margin: 10px auto;
  box-shadow: 0 0 10px rgb(63, 59, 59);
  background-color: rgba(0, 0, 0, 0.12);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  border: 1px solid black;
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
  float: left;
  max-width: 100vw;
}

.glass-panel h2 {
  font-size: 2.5em;
  min-height: 70px;
  max-width: 700px;
  color: rgb(255, 255, 255);
}

.glass-panel p {
  width: 100%;
  color: white;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.table {
  font-size: 1.1em;
}

.table th {
  font-size: 1.2em;
}

.joke {
  margin: 0 15%;
  box-shadow: 0 0 10px rgb(63, 59, 59);
  border-radius: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  min-height: 40vh;
}
.card-body p {
  font-size: 1.5em;
}

.form-check-label {
  color: rgb(255, 255, 255);
  font-weight: 400;
}

@media only screen and (max-width: 990px) {
  .joke {
    color: #fff;
    box-shadow: 0 0 10px rgb(63, 59, 59);
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
    float: left;
    max-width: 100vw;
  }
  .card-body {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .joke {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 440px) {
  .glass-panel h2 {
    text-align: center;
    font-size: 2em;
  }
}
@media only screen and (max-width: 360px) {
  .glass-panel h2 {
    text-align: center;
    font-size: 1.4em;
  }
}
